$bright-red: hsl(12, 88%, 59%);
$Dark-blue: hsl(228, 39%, 23%);
$Dark-grayish-blue: hsl(227, 12%, 61%);
$Very-dark-blue: hsl(233, 12%, 13%);
$Very-pale-red: hsl(12, 100%, 74%);
$Vary-light-gray: hsl(0, 0%, 98%);
